@import '~bootstrap/scss/bootstrap';

@import './admin.scss';

:root {
    --actionSuccess:#5cb85c;
    --actionSuccessT: rgba(92, 184, 92, 0.08);
    --active: #76A79E;
    --pending: #F3DE8A;
    --archive: #A63446;
    --dark: #333;
    --grayDisable: #D3D3D3;
    --lightgray: #696969;
    --darkT: rgba(51, 51, 51, 0.75);
    --primary: #ddd;
    --primaryT: rgba(238, 238, 238, 0.75);
    --light: #fff;
    --shadow1:0 8px 6px -6px black;
    --shadow: 0 3px 5px #2d545e;
    --shadowTable: inset 0 -1px 0 0 rgba(100,121,143,0.122),inset 0 1px 0 0 rgba(47, 57, 68, 0.355);
    --boxes: rgba(200, 200, 200, 0.75);
    --scrollBar: rgba(200, 200, 200, 0.75);
    --orangeSecondairy: RGB(245, 179, 96);

    /* Artsy and Creative theme */
    --blueGoogle: #c2dbff;
    --brown: #D79922;
    --brownT: rgba(215, 153, 34, 0.75);
    --beige: #EFE2BA;
    --beigeT: rgba(239, 226, 186, 0.75);
    --red: #F13C20;
    --redT: rgba(241, 60, 32, 0.75);
    --darkBlue: #4056A1;
    --darkBlueT: rgba(64, 86, 161, 0.75);
    --lightBlue: #C5CBE3;
    --lightBlueT: rgba(197, 203, 227, 0.75);
    
    /* close to nature */
    --gray: #687864;
    --blue1: #31708E;
    --lightBlue: #5085A5;
    --lighterBlue: #8FC1E3;
    --lightwhite1: #F7F9FB;

    /* cool and fresh */

    --blue: #2d545e;
    --lightwhite: #EDF5E1;
    --green: #5CDB95;
    --grenner: #379683;
    --sandTan: #e1b382;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial  ;
}
* li {
    list-style: none;
}
body {
    background-color: var(--lightwhite1);
}
.wrapper__nav-bar {
    overflow-x: hidden;
}

// POPUP ALERT STYLE START <----

// Popup Window style start <----

.dflex{
    display: flex;
  }
  .dcolum{
    flex-direction: column;
  }
  .centercenter{
    justify-content: center;
    align-items: center;
  }
  .justcontaround{
    justify-content: space-around;
  }
  .alingcontaround{
    align-content: space-around;
  }
  .popup-wrapper{
    display: none;
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(3, 30, 51, 0.4);
    z-index: 20;
  
  }
  .confirm-delete-pop-up{
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 600px;
    height: fit-content;
    background-color:var(--lightwhite1);
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    z-index: 30;
    border: 1px solid var(--primaryT);
    box-shadow: var(--shadow);
  }
  .btn-fixed-width-and-height{
    width: 80px;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .alert-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  .alert-message{
    margin-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
    font-size: 1.0rem;
    color: var(--dark);
  }
  .alert-title{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
    color: var(--dark);
  }
  .delete-action{
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    
    
  }
  .close-popup-icon{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .delete-action > div{
    display: flex;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    
    outline: none;
    justify-content: center;
    align-items: center;
  }
  .alert-icon{
    margin-top: 0px;
    font-size: 3.0rem;
    color: var(--pending);
  }
  .action-confirmed{
    background-color: #9f0000;
  }
  .action-confirmed:hover{
    background-color: #e30000;
  }
  .action-active{
    background-color: var(--active);
  }
  .action-active:hover{
    background-color: var(--active);
  }
  .action-restore{
    background-color: var(--actionSuccess);
  }
  .action-restore:hover{
    background-color: var(--success);
  }
  .action-delete{
    background-color: var(--archive);
  }
  .action-delete:hover{
    background-color: var(--red);
  }
  .action-cancel{
    background-color: var(--primary);
    
  }
  .action-cancel:hover{
    background-color: var(--blueGoogle);
  }
  
  
  // Popup Window style end <----
  // SUCCES POPUP STYLE START <----
  // CheckMark Animation START
  
  .check-mark-label{
    position: relative;
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    border-left-color: #5cb85c ;
    animation: rotate 1.2s linear infinite;
  }
  .btn-spinner-label{
    position: relative;
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    border-left-color: #5cb85c ;
    animation: rotate 1.2s linear infinite;
  }
  @keyframes rotate {
    50%{
      border-left-color: #9b59b6;
    }
    75%{
      border-left-color: #e67e22;
    }
    100%{
      transform: rotate(360deg);
    }
  }
  .restore-message{
   visibility: hidden;
  }
  label .check-icon {
    display: none;
  // translate(-25%, 50%)
  }
  label .check-icon:after{
    position: absolute;
    content: "";
    top: 55%;
    left: 8px;
    transform: scaleX(-1) rotate(135deg);
    height: 28px;
    width: 14px;
    border-top: 4px solid #5cb85c;
    border-right: 4px solid  #5cb85c;
    transform-origin: left top ;
    
    animation: check-icon 0.8s ease
  }
  @keyframes check-icon {
    0%{
      height: 0;
      width: 0;
      opacity: 1;
    }
    20%{
      height: 0;
      width: 14px;
      opacity: 1;
    }
    40%{
      height: 28px;
      width: 14px;
      opacity: 1;
    }
    100%{
      height: 28px;
      width: 14px;
      opacity: 1;
    }
  
  }
  .close-alert-succes{
    visibility: hidden;
    position: absolute;
    top: 30%;
    right: 10px;
    cursor: pointer;
  }
  .stop-check-animation{
    animation: none;
    border-color: #5cb85c;
    transition:  border 0.5s ease-out;
  }
  // CHECKMARK ANIMATION END
  .center-screen{
    margin: auto;
    position: fixed;
    top: 20px; right: 20px;
    width: 380px;
    height: fit-content;
    background-color: var(--dark);
    display: none;
    justify-content: center;
    align-content: center;
    z-index: 30;
    border: 1px solid var(--dark);
    box-shadow: var(--shadow);
    border-radius: 20px;
  
  }
  .center-screen > div {
    display: flex;
    
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .alert-error-icon{
    font-size: 3rem;
    color: var(--danger);
  }
  .span-notice{
    font-size: 1.0rem;
    color: var(--lightwhite);
  }
  .span-success-popup{
    font-size: 2rem;
    font-weight: 600;
    color: var(--actionSuccess);
  }
  // succes POPUP STYLE END <----
  // ALERT PRODUCTS END<-----
  




// POPUP ALERT STYLE END <----
